body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(60deg,#303030,#000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oval {
    width: 230px;
    height: 130px;
    background-color: #fdff00;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 212px;
    height: 112px;
    background-color: #000;
    border-radius: 50%;
    
}